/* Deafult Margin & Padding */
/*-- Margin Top --*/
.hy-mt-5 {
    margin-top: 5px;
}
.hy-mt-10 {
    margin-top: 10px;
}
.hy-mt-15 {
    margin-top: 15px;
}
.hy-mt-20 {
    margin-top: 20px;
}
.hy-mt-25 {
    margin-top: 25px;
}
.hy-mt-30 {
    margin-top: 30px;
}
.hy-mt-35 {
    margin-top: 35px;
}
.hy-mt-40 {
    margin-top: 40px;
}
.hy-mt-45 {
    margin-top: 45px;
}
.hy-mt-50 {
    margin-top: 50px;
}
.hy-mt-55 {
    margin-top: 55px;
}
.hy-mt-60 {
    margin-top: 60px;
}
.hy-mt-65 {
    margin-top: 65px;
}
.hy-mt-70 {
    margin-top: 70px;
}
.hy-mt-75 {
    margin-top: 75px;
}
.hy-mt-80 {
    margin-top: 80px;
}
.hy-mt-85 {
    margin-top: 85px;
}
.hy-mt-90 {
    margin-top: 90px;
}
.hy-mt-95 {
    margin-top: 95px;
}
.hy-mt-100 {
    margin-top: 100px;
}
.hy-mt-105 {
    margin-top: 105px;
}
.hy-mt-110 {
    margin-top: 110px;
}
.hy-mt-115 {
    margin-top: 115px;
}
.hy-mt-120 {
    margin-top: 120px;
}
.hy-mt-125 {
    margin-top: 125px;
}
.hy-mt-130 {
    margin-top: 130px;
}
.hy-mt-135 {
    margin-top: 135px;
}
.hy-mt-140 {
    margin-top: 140px;
}
.hy-mt-145 {
    margin-top: 145px;
}
.hy-mt-150 {
    margin-top: 150px;
}
.hy-mt-155 {
    margin-top: 155px;
}
.hy-mt-160 {
    margin-top: 160px;
}
.hy-mt-165 {
    margin-top: 165px;
}
.hy-mt-170 {
    margin-top: 170px;
}
.hy-mt-175 {
    margin-top: 175px;
}
.hy-mt-180 {
    margin-top: 180px;
}
.hy-mt-185 {
    margin-top: 185px;
}
.hy-mt-190 {
    margin-top: 190px;
}
.hy-mt-195 {
    margin-top: 195px;
}
.hy-mt-200 {
    margin-top: 200px;
}
/*-- Margin Bottom --*/

.hy-mb-5 {
    margin-bottom: 5px;
}
.hy-mb-10 {
    margin-bottom: 10px;
}
.hy-mb-15 {
    margin-bottom: 15px;
}
.hy-mb-20 {
    margin-bottom: 20px;
}
.hy-mb-25 {
    margin-bottom: 25px;
}
.hy-mb-30 {
    margin-bottom: 30px;
}
.hy-mb-35 {
    margin-bottom: 35px;
}
.hy-mb-40 {
    margin-bottom: 40px;
}
.hy-mb-45 {
    margin-bottom: 45px;
}
.hy-mb-50 {
    margin-bottom: 50px;
}
.hy-mb-55 {
    margin-bottom: 55px;
}
.hy-mb-60 {
    margin-bottom: 60px;
}
.hy-mb-65 {
    margin-bottom: 65px;
}
.hy-mb-70 {
    margin-bottom: 70px;
}
.hy-mb-75 {
    margin-bottom: 75px;
}
.hy-mb-80 {
    margin-bottom: 80px;
}
.hy-mb-85 {
    margin-bottom: 85px;
}
.hy-mb-90 {
    margin-bottom: 90px;
}
.hy-mb-95 {
    margin-bottom: 95px;
}
.hy-mb-100 {
    margin-bottom: 100px;
}
.hy-mb-105 {
    margin-bottom: 105px;
}
.hy-mb-110 {
    margin-bottom: 110px;
}
.hy-mb-115 {
    margin-bottom: 115px;
}
.hy-mb-120 {
    margin-bottom: 120px;
}
.hy-mb-125 {
    margin-bottom: 125px;
}
.hy-mb-130 {
    margin-bottom: 130px;
}
.hy-mb-135 {
    margin-bottom: 135px;
}
.hy-mb-140 {
    margin-bottom: 140px;
}
.hy-mb-145 {
    margin-bottom: 145px;
}
.hy-mb-150 {
    margin-bottom: 150px;
}
.hy-mb-155 {
    margin-bottom: 155px;
}
.hy-mb-160 {
    margin-bottom: 160px;
}
.hy-mb-165 {
    margin-bottom: 165px;
}
.hy-mb-170 {
    margin-bottom: 170px;
}
.hy-mb-175 {
    margin-bottom: 175px;
}
.hy-mb-180 {
    margin-bottom: 180px;
}
.hy-mb-185 {
    margin-bottom: 185px;
}
.hy-mb-190 {
    margin-bottom: 190px;
}
.hy-mb-195 {
    margin-bottom: 195px;
}
.hy-mb-200 {
    margin-bottom: 200px;
}
/*-- Padding Top --*/

.hy-pt-5 {
    padding-top: 5px;
}
.hy-pt-10 {
    padding-top: 10px;
}
.hy-pt-15 {
    padding-top: 15px;
}
.hy-pt-20 {
    padding-top: 20px;
}
.hy-pt-25 {
    padding-top: 25px;
}
.hy-pt-30 {
    padding-top: 30px;
}
.hy-pt-35 {
    padding-top: 35px;
}
.hy-pt-40 {
    padding-top: 40px;
}
.hy-pt-45 {
    padding-top: 45px;
}
.hy-pt-50 {
    padding-top: 50px;
}
.hy-pt-55 {
    padding-top: 55px;
}
.hy-pt-60 {
    padding-top: 60px;
}
.hy-pt-65 {
    padding-top: 65px;
}
.hy-pt-70 {
    padding-top: 70px;
}
.hy-pt-75 {
    padding-top: 75px;
}
.hy-pt-80 {
    padding-top: 80px;
}
.hy-pt-85 {
    padding-top: 85px;
}
.hy-pt-90 {
    padding-top: 90px;
}
.hy-pt-95 {
    padding-top: 95px;
}
.hy-pt-100 {
    padding-top: 100px;
}
.hy-pt-105 {
    padding-top: 105px;
}
.hy-pt-110 {
    padding-top: 110px;
}
.hy-pt-115 {
    padding-top: 115px;
}
.hy-pt-120 {
    padding-top: 120px;
}
.hy-pt-125 {
    padding-top: 125px;
}
.hy-pt-130 {
    padding-top: 130px;
}
.hy-pt-135 {
    padding-top: 135px;
}
.hy-pt-140 {
    padding-top: 140px;
}
.hy-pt-145 {
    padding-top: 145px;
}
.hy-pt-150 {
    padding-top: 150px;
}
.hy-pt-155 {
    padding-top: 155px;
}
.hy-pt-160 {
    padding-top: 160px;
}
.hy-pt-165 {
    padding-top: 165px;
}
.hy-pt-170 {
    padding-top: 170px;
}
.hy-pt-175 {
    padding-top: 175px;
}
.hy-pt-180 {
    padding-top: 180px;
}
.hy-pt-185 {
    padding-top: 185px;
}
.hy-pt-190 {
    padding-top: 190px;
}
.hy-pt-195 {
    padding-top: 195px;
}
.hy-pt-200 {
    padding-top: 200px;
}
/*-- Padding Bottom --*/

.hy-pb-5 {
    padding-bottom: 5px;
}
.hy-pb-10 {
    padding-bottom: 10px;
}
.hy-pb-15 {
    padding-bottom: 15px;
}
.hy-pb-20 {
    padding-bottom: 20px;
}
.hy-pb-25 {
    padding-bottom: 25px;
}
.hy-pb-30 {
    padding-bottom: 30px;
}
.hy-pb-35 {
    padding-bottom: 35px;
}
.hy-pb-40 {
    padding-bottom: 40px;
}
.hy-pb-45 {
    padding-bottom: 45px;
}
.hy-pb-50 {
    padding-bottom: 50px;
}
.hy-pb-55 {
    padding-bottom: 55px;
}
.hy-pb-60 {
    padding-bottom: 60px;
}
.hy-pb-65 {
    padding-bottom: 65px;
}
.hy-pb-70 {
    padding-bottom: 70px;
}
.hy-pb-75 {
    padding-bottom: 75px;
}
.hy-pb-80 {
    padding-bottom: 80px;
}
.hy-pb-85 {
    padding-bottom: 85px;
}
.hy-pb-90 {
    padding-bottom: 90px;
}
.hy-pb-95 {
    padding-bottom: 95px;
}
.hy-pb-100 {
    padding-bottom: 100px;
}
.hy-pb-105 {
    padding-bottom: 105px;
}
.hy-pb-110 {
    padding-bottom: 110px;
}
.hy-pb-115 {
    padding-bottom: 115px;
}
.hy-pb-120 {
    padding-bottom: 120px;
}
.hy-pb-125 {
    padding-bottom: 125px;
}
.hy-pb-130 {
    padding-bottom: 130px;
}
.hy-pb-135 {
    padding-bottom: 135px;
}
.hy-pb-140 {
    padding-bottom: 140px;
}
.hy-pb-145 {
    padding-bottom: 145px;
}
.hy-pb-150 {
    padding-bottom: 150px;
}
.hy-pb-155 {
    padding-bottom: 155px;
}
.hy-pb-160 {
    padding-bottom: 160px;
}
.hy-pb-165 {
    padding-bottom: 165px;
}
.hy-pb-170 {
    padding-bottom: 170px;
}
.hy-pb-175 {
    padding-bottom: 175px;
}
.hy-pb-180 {
    padding-bottom: 180px;
}
.hy-pb-185 {
    padding-bottom: 185px;
}
.hy-pb-190 {
    padding-bottom: 190px;
}
.hy-pb-195 {
    padding-bottom: 195px;
}
.hy-pb-200 {
    padding-bottom: 200px;
}
/* Background Color */
.theme-bg {
    background: #4272d7;
}
.gray-bg {
    background: #f6f6f6;
}
.white-bg {
    background: #fff;
}
.black-bg {
    background: #222;
}
/* Color */
.white {
    color: #fff;
}
.black {
    color: #222;
}
/* Block margin padding */
.blockbgwhite {
    margin-top: 50px;
    margin-bottom: 50px;
}
.blockbgwhite-t {
    margin-top: 50px;
}
.blockbgwhite-b {
    margin-bottom: 50px;
}
.blockbgcolor {
    padding-top: 40px;
    padding-bottom: 40px;
}
.blockbgcolor-t {
    padding-top: 40px;
}
.blockbgcolor-b {
    padding-bottom: 40px;
}
