{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="block08design5 blockbgwhite ">
  <div class="container">
    <div class="row">
        <div class="col-md-12" >
            <div class="section-title-fp hytext text-center blockbgwhite-b">
                <h4>{{block08header}}</h4>
            </div>
            <div class="item-content text-center blockbgwhite-b">    
                  {{{block08caption}}}
            </div>
        </div>
    </div>
    <section class="teachers archive section">
      <div class="container">
        <div class="row">
          {{#block08}}
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Single Teacher -->
            <div class="single-teacher">
              <div class="teacher-head overlay">
                <img src="{{userpictureURL}}" alt="#">
                {{#block08total}}
                <ul class="social">
                  <li><a href="#"><i class="fa fa-user"><span class="count" data-bs-toggle="tooltip" data-placement="top"
                    title="{{#str}}block08tooltipstudents, theme_almondb {{/str}}"> {{studentscount}}+</span></i> </a></li>
                  <li><a href="#"><i class="fa fa-graduation-cap"><span class="count" data-bs-toggle="tooltip" data-placement="top"
                    title="{{#str}}block08tooltipcourse, theme_almondb {{/str}}"> {{coursecount}}+</span></i></a></li>
                </ul>
                {{/block08total}}
              </div>
              <div class="teacher-content">
                <a href="{{userURL}}"><h4>{{teachername}}</h4></a><h4><span>Web Developer</span></h4>
              </div>
            </div>
            <!--/ End Single Teacher -->
          </div>
          {{/block08}}
        </div>
      </div>
    </section>
  </div>
</div>    
