/* Theme Almond blog scss */
.almond-blog {
    padding: 0;
    margin: 1em 0 1em 0;
    border: 0 solid #dee2e6;
    border-radius: 5px 5px 0 0;
    .btn {
        margin: 2px 2px 2px 0;
    }
    p {
        margin: 15px 0;
    }
    .content {
        padding: 0;
        margin-left: 0;
    }
    .commands,
    .tag_list {
        padding: 0 15px;
        margin-bottom: 15px;
    }
    .tags {
        position: relative;
        margin: 0 15px 15px 15px;
        background: $hythemecolor-obs-3;
        background-size: auto;
        border-radius: 5px;
    }
    .comment-link {
        position: relative;
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        text-align: center;
        vertical-align: baseline;
        padding: 7px;
        margin: 0 15px;
        border-radius: 0.25rem;
        color: #fff;
        line-height: 1.5;
        letter-spacing: .025em;
        background-color: $hythemecolor-obs-8;
    }
    .comment-message {
        padding: 5px 18px 5px;
        border-radius: .375rem;
        .comment-message-meta .time {
            margin-left: 5px;
            opacity: 0.6;
        }
    }
    .comment-list {
        font-size: 14px;
        img.userpicture {
            width: 24px;
            height: 24px;
            margin: 0 10px 0 18px;
        }
    }
    .user {
        margin-right: 5px;
        font-weight: 600;
    }
    .picture {
        width: auto;
        float: none;
    }
    .text {
        padding-top: 5px;
    }
    .comment-area,
    textarea {
        font-size: 14px;
        max-width: 100%;
        padding: 15px;
        padding-top: 5px;
        border-radius: 5px;
    }
}
.almond-blog-img img {
    padding: 0;
    height: $single-blog-img-height;
    width: 100%;
    object-fit: cover;
}
.almond-blog-header {
    position: absolute;
    bottom: 0;
    background: $hythemecolor-obs-2; /* Fallback color */
    width: 100%;
    padding: 20px 15px;
    font-size: 14px;
    font-weight: 600;
    a {
        color: $hythemecolor;
        &:hover {
            color: $hythemecolor-obs-8;
            text-decoration: none;
        }
    }
    .left {
        float: left !important;
        margin-top: -45px;
    }
    .topic {
        margin-left: 0 !important;
    }
}
.almond-blog-date {
    font-size: 12px;
    padding: 0 15px 15px;
    opacity: 0.6;
}
.almond-blog-post {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    .no-overflow .no-overflow {
        padding: 0 15px;
    }
}
.blog_entry .audience {
    background: $hythemecolor-obs-2;
    color: $hythemecolor;
    text-align: center;
    padding: 12px 0;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
}
.block_blog_tags {
    .s20 {
        display: inline-grid;
        font-size: 90% !important;
        font-weight: 600;
        background-color: $hythemecolor-obs-3;
        margin-bottom: 4px;
        padding: 5px 7px;
        border: 1px solid $hythemecolor;
        border-radius: 5px;
        letter-spacing: .1px;
        transition: all 0.2s;
        text-decoration: none;
        &:hover {
            background-color: $hythemecolor-obs-5;
        }
    }
    .card-text {
        text-align: center;
    }
}
.block11design1,
.block11design2 {
    .tag-top {
        background-color: #ebf1e6;
        color: #343a40;
        width: 100%;
        height: auto;
        padding: 8px 8px;
        font-size: 12px;
        font-weight: 600;
    }
    .badge {
        border-radius: 0.2rem;
    }
    .badge-info {
        padding: 5px;
    }
    .userdate {
        font-size: 12px;
        font-weight: 600;
    }
}
.tags-single {
    padding: 5px 25px;
}
.addbloglink {
    font-weight: 600;
}
.path-blog {
    #page.drawers div[role="main"] {
        h2 {
            display: none;
        }
    }
}
